:root {
  --cosmic-latte: #FEFFE7;
  --deep-champagne: #FED2A1;
  --cafe-au-lait: #A97953;
  --cologne-earth-brown: #644431;
  --jacko-bean: #47362C;
  --pine-tree: #32281F;
  --ambar: #fcc732;
}

.navbar {
  background-color: var(--jacko-bean);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  color: var(--ambar);
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: var(--jacko-bean);
  width: 250px;
  height: 100vh;
  display: flex;justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: var(--ambar);
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: var(--cafe-au-lait);
}

.nav-menu-items {
  color: var(--ambar);
  width: 100%;
}

.navbar-toggle {
  background-color: var(--jacko-bean);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-text span {
  margin-left: 16px;
}