@import url("https://fonts.googleapis.com/css?family=Benne");

:root {
  --cosmic-latte: #FEFFE7;
  --deep-champagne: #FED2A1;
  --cafe-au-lait: #A97953;
  --cologne-earth-brown: #644431;
  --jacko-bean: #47362C;
  --pine-tree: #32281F;
  --ambar: #fcc732;
}

* {
  font-family: "Benne", sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}