@import url("https://fonts.googleapis.com/css?family=Benne");

:root {
  --cosmic-latte: #FEFFE7;
  --deep-champagne: #FED2A1;
  --cafe-au-lait: #A97953;
  --cologne-earth-brown: #644431;
  --jacko-bean: #47362C;
  --pine-tree: #32281F;
  --ambar: #fcc732;
  --small: 640px;
  --large: 1024px;
}

* {
  font-family: "Benne", sans-serif;
}

header {
  margin: 20px 0; 
}

footer {
  background-color: var(--jacko-bean);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

h1 {
  color: var(--cafe-au-lait);
  font-size: 24px;
  margin: 20px;
}

p {
  color: var(--pine-tree);
  font-size: 20px;
  margin: 10px;
  padding: 20px;
}

img {
  border-radius: 20px;
}

a {
  text-decoration: none;
}

.App {
  width: 100vw;
  height: 100%;
  background-color: var(--cosmic-latte);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider { 
  position: relative;
  height: 400px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider img {
  max-height: 400px;
}

.icon {
  position: absolute;
  font-size: 2rem;
  color: var(--cologne-earth-brown);
  cursor: pointer;
  z-index: 5;
}

.icon.left-arrow {
  left: 50px;
}

.icon.right-arrow {
  right: 50px;
}

.slide {
  opacity: 0;
  transition-duration: 500ms;
  transition-property: transform;
  transform: scale(0.70);
}

.slide.active {
  opacity: 1;
  transition-duration: 500ms ease-out;
  transform: scale(1.00);
}

.home {
  width: 100%;
  max-width: var(--large);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-btn-group {
  margin: 20px;
  display: flex;
}

.footer-btn {
  align-items: center;
  margin: 10px;
  padding: 12px;
  font-size: 20px;
  background-color: var(--cafe-au-lait);
  border-radius: 50%;
  color: var(--jacko-bean)
}

.footer-btn:hover {
  background-color: var(--cosmic-latte);
}

